# CMake
cmake-build-debug/
cmake-build-release/
cmake-build-default/
CMakeFiles/
build/
compile_commands.json

# Libraries and objects binaries
*.o
*.so

python/.idea
python/venv
python/*.so
python/__pycache__/*
